@model Atomic.UnifiedAuth.Models.ExternalLoginPartialModel

  @if (Model.ExternalSchemes.Any())
  {
    <div class="has-text-centered my-5">
      <span>@_localizer[$"Use another service to {Model.Action}"]</span>
    </div>

    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
      <div class="columns is-centered is-mobile">
        @foreach (var scheme in Model.ExternalSchemes)
        {
          <button type="submit" class="social-button"
                  name="scheme" value="@scheme.Name">
            <svg class="iconfont">
              <use xlink:href="#icon-@scheme.DisplayName?.ToLower()"></use>
            </svg>
          </button>
        }
      </div>
    </form>
  }

