@page
@model Atomic.UnifiedAuth.Pages.Account.ForgotPassword

@{
  ViewData["Title"] = _localizer["Forgot password"];
}

@if (Model.LinkSent)
{
  <div class="block has-text-centered">
    @_localizer["Account recovery email has been sent to {0}.", Model.Input.EmailAddress]
  </div>

  <div class="has-text-centered">
    <a asp-page="./Login" class="button is-primary">
      @_localizer["Back to login"]
    </a>
  </div>
}
else
{
  <div class="block">
    @_localizer["A password reset link will be sent to your email to reset your password. If you don't get an email within a few minutes, please re-try."]
  </div>

  @await Html.PartialAsync("Shared/_ErrorNotification", Model.ErrorMessage)

  <form method="post">
    <div class="field">
      <label asp-for="Input.EmailAddress" class="label"></label>
      <div class="control">
        <input asp-for="Input.EmailAddress" class="input">
      </div>
    </div>

    <button class="button is-primary is-rounded is-fullwidth">
      @_localizer["Send"]
    </button>
  </form>
}
