@page
@model Atomic.UnifiedAuth.Pages.Account.ResetPassword

@{
  ViewData["Title"] = _localizer["Reset code"];
}

@if (Model.PasswordReset)
{
  <div class="block">
    @_localizer["Password has been reset successfully."]
  </div>

  <div class="has-text-centered">
    <a asp-page="./Login" class="button is-primary">
      @_localizer["Back to login"]
    </a>
  </div>
}
else
{
  <div class="block">
    @_localizer["Please enter your new password."]
  </div>

  @await Html.PartialAsync("Shared/_ErrorNotification", Model.PageErrorMessage)

  <form method="post">
    <input asp-for="Input.UserId">
    <input asp-for="Input.Code">

    <div class="field">
      <label asp-for="Input.Password" class="label"></label>
      <div class="control">
        <input asp-for="Input.Password" class="input">
      </div>
      <span asp-validation-for="Input.Password" class="help is-danger"></span>
    </div>

    <div class="field">
      <label asp-for="Input.ConfirmPassword" class="label"></label>
      <div class="control">
        <input asp-for="Input.ConfirmPassword" class="input">
      </div>
      <span asp-validation-for="Input.ConfirmPassword" class="help is-danger"></span>
    </div>

    <button class="button is-primary is-rounded is-fullwidth">
      @_localizer["Reset"]
    </button>
  </form>
}
