section {
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
}

a {
    font-size: 1rem;
    color: #666666;
    text-decoration: none;
}

a:focus {
    outline: none !important;
}

a:hover {
    color: #a64bf4;
}

.social-button {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: transparent;
    transition: font-size 0.5s linear;
}

.social-button:hover {
    font-size: 2rem;
    cursor: pointer;
}

.iconfont {
    width: 1em;
    height: 1em;
}