@using System.Globalization
@{
  Layout = null;

  var culture = CultureInfo.CurrentCulture.Name;
  if (string.IsNullOrEmpty(culture)) culture = "en-US";
}

<!DOCTYPE html>

<html lang="@culture">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport">
  @await Html.PartialAsync("./_Favicons")

  <title>Atomic Unified Auth Platform</title>

  <link href="https://cdn.bootcdn.net/ajax/libs/bulma/0.9.1/css/bulma.min.css" rel="stylesheet">
  @await RenderSectionAsync("Head", false)
</head>
<body>
@RenderBody()
</body>
</html>
