@page
@model Atomic.UnifiedAuth.Pages.Error

<div class="has-text-centered is-size-2 mb-4">@Model.ErrorCode</div>

<div class="block">
  @_localizer["Oops, unexpected error occured:"]
</div>

<div class="block">
  @Model.ErrorMessage
</div>

<div class="has-text-centered">
  <a asp-page="Index" class="button is-primary">
    @_localizer["Go Home"]
  </a>
</div>
