@page

@{
  ViewData["Title"] = _localizer["Welcome"];
  var userName = User.Identity?.Name;
}

<div class="block has-text-centered">
  @_localizer["Welcome"], @userName
</div>

<div class="has-text-centered">
  <a asp-page="Account/Logout" class="button is-primary">
    @_localizer["Logout"]
  </a>
</div>
