@page
@model Atomic.UnifiedAuth.Pages.Index

@{
  ViewData["Title"] = _localizer["Welcome"];
}

<div class="block">
  @_localizer["Lorem ipsum dolor sit amet, no mnesarchum honestatis vel. Vim ex sint pertinacia necessitatibus, eu his odio option cotidieque, utinam ornatus honestatis ne per. Cum prompta gubergren theophrastus te. Mazim repudiare comprehensam nam an, cu vix persius adversarium. Vis alia ubique fastidii cu, ne mei tibique efficiantur, eu sit dicunt feugiat. Cum eu aliquam disputationi vituperatoribus, cum at nonumy ubique temporibus."]
</div>

<div class="has-text-centered">
  <a asp-page="Account/Login" class="button is-primary">
    @_localizer["Explore"]
  </a>
</div>
