@page
@model Atomic.UnifiedAuth.Pages.ErrorPageModel

@{
  ViewData["Title"] = _localizer["Error"].Value;
}

<div class="block">
  @_localizer["Oops, unexpected error occured when visiting {0}:", Model.Path]
</div>

<div class="block">
  @Model.ErrorMessage
</div>

<div class="has-text-centered">
  <a asp-page="IndexPageModel" class="button is-primary">
    @_localizer["Go Home"]
  </a>
</div>
