@page
@using Microsoft.Extensions.Configuration
@model Atomic.UnifiedAuth.Pages.IndexPageModel
@inject IConfiguration _configuration;

@{
  ViewData["Title"] = _localizer["Welcome"].Value;
  var description = _configuration["App:Description"];
}

<div class="block">
  @_localizer[description]
</div>

<div class="has-text-centered">
  <a asp-page="Account/Login" class="button is-primary">
    @_localizer["Explore"]
  </a>
</div>
